<%- include('dashboard/header.ejs')%>
    <%- include('dashboard/side.ejs')%>

        <div class="ProductionData">
            <% if (eggsdata.length>0){%>
                 <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>NUMBER OF EGGS</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                        </thead>
                        <tbody>
                <%eggsdata.forEach(item=>{%>
                        
                            <tr>
                                <td><%=item.productionDate%></td>
                                <td><%=item.noOfEggs%> eggs</td>
                                <td><button class="btn btn-success">Edit</button></td>
                                <td><button class="btn btn-danger">Delete</button></td>
                            </tr>
                        
                <%})%>
                        </tbody>
                </table>
            <%} else{%>
            <h4>OOPS no student found👀</h4>
            <%}%>
        </div>

        <div class="productionForm">
            <form method="post" class="form" action="/prodegg">
                <div>
                    <label for="productionDate">Date</label>
                    <input type="date" class="form-control" id="productionDate" name="productionDate">
                </div>
                <div class="productionDate error"></div>

                <div class="mt-2">
                    <label for="eggNoProduced">Number of Eggs</label>
                    <input type="number" class="form-control" id="eggNoProduced" name="eggNoProduced">
                </div>
                <div class="eggNoProduced error"></div>

                <div>
                    <button class="savebutton" type="submit">Save</button>
                </div>
            </form>
        </div>
        <%- include('dashboard/bottom.ejs')%>
            <%- include('dashboard/footer.ejs')%>